p {
 font-size: 1.2rem;
}

.h1-headline {
    font-size: 5rem;
    text-transform: uppercase;
}

.h2-headline {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.copy-plus-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
}

.copy-plus-image p {
    width: 25%;
    height: 200px;
    margin: 0;
    text-align: left;
}

.copy-plus-image img {
    width: 70%;
    
    margin-right: 10px;
}

.headline-copy-p {
    width: 50vw;
    margin: 10px;
    border: solid black 2px;
}

.two-columns {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.columns{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin:0 10px;
}

.columns img {
    border-radius: 30px;
    width:150px;
    background-color :rgb(124, 124, 124);
}

.columns p {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}
.slides-container {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.slide {
    scroll-snap-align: start;
    position: relative;
    z-index: 9999;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide:nth-child(even) {
    background-color: #eeeeee;
    color: #2b2b2b;
}
.slide:nth-child(odd) {
    background-color: #2b2b2b;
    color: #eeeeee;
}

ul.slideList {
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}
ul.slideList li {
    margin-left: 0;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.two-image {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
}
.two-image img {
    width:48%;
}
#close-presentation {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 99999;
    font-family: sans-serif;
    font-size: 2rem;
    padding: 10px;
    width: 60px;
    height:60px;
    color: #000000;
    border: none;
    background-color: #eeeeee30;
    border-radius: 30px;
}
iframe {
    width: 90%;
    height:90vh;
    border:none;
    border-radius: 20px;
    box-shadow: 0 0 20px #2b2b2b90;
}
.fullscreen-img {
    width: auto;
    height:90vh;
    border:none;
    border-radius: 20px;
    box-shadow: 0 0 20px #2b2b2b90;
}

button {
    margin: 0 10px;
}